#{extends 'layout.html' /}
#{set title:'登入' /}

<p>請用網域帳號登入。</p>
<form method="post" action="@{authenticate}">
  <div class="row">
    <label for="username">&{'secure.username'}</label>
    <input type="text" name="username" id="username" value="${flash.username}">
  </div>
  <div class="row">
    <label for="password">&{'secure.password'}</label>
    <input type="password" name="password" id="password" value="">
  </div>
  <div>
    <input type="submit" id="signin" value="&{'secure.signin'}">
    <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''}>
    <label for="remember">&{'secure.remember'}</label>
  </div>
</form>
