#{extends 'layout.html' /}
#{set title:'修改菜單' /}

<h2>修改菜單: ${menu.name}</h2>

<form method="post" action="@{updateMenu(menu.id)}">
  <div class="form-group">
    <label>備註</label>
    <textarea rows="4" cols="40" name="comment" class="form-control">${menu.comment}</textarea>
  </div>
  <div class="form-group">
    <label>新增餐點</label>
    <div>
      <select name="newProvider" class="form-control form-control-sm">
        <option value="">請選擇...</option>
      #{list providers, as:'provider'}
        <option value="${provider.id}">${provider.name}</option>
      #{/list}
      </select>
    </div>
  </div>
  <div class="form-group">
    <table>
      <tr>
        <th>刪除</th>
        <th align="left">廠商</th>
        <th align="left">餐點名稱</th>
        <th align="left">價格</th>
      </tr>
      #{list menu.menuItems, as:'item'}
      <tr>
        <td><input type="checkbox" name="deletes" value="${item.id}"></td>
        <td>${item.providerName}</td>
        <td><input class="form-control form-control-sm" type="text" name="productNames" value="${item.productName}"><input type="hidden" name="itemIds" value="${item.id}"></td>
        <td><input class="form-control form-control-sm" type="text" size="4" name="productPrices" value="${item.productPrice}"></td>
      </tr>
      #{/list}
    </table>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">儲存</button>
    <a class="btn btn-secondary" href="@{index}">取消</a>
  </div>
</form>
