#{extends 'layout.html' /}
#{set title:'管理菜單' /}

<h2>管理菜單</h2>

<a class="btn btn-primary" href="@{newMenu}">新增菜單</a>

<table>
  <thead>
    <tr>
      <th>日期/餐別</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    #{list menus, as:'menu'}
    <tr>
      <td>${menu.name}</td>
      <td><a class="btn btn-info btn-sm" href="@{editMenu(menu.id)}">修改</a></td>
      <td><a class="btn btn-danger btn-sm" onclick="return confirm('確定要刪除${menu.name}？')" href="@{deleteMenu(menu.id)}">刪除</a></td>
    </tr>
    #{/list}
  </tbody>
</table>

<p>
<a href="@{index}">第一頁</a> | <a href="@{index(prevPage)}">上一頁</a> | <a href="@{index(nextPage)}">下一頁</a>
</p>
