#{extends 'layout.html' /}
#{set title:'訂便當' /}
<form action="https://docs.google.com/forms/d/1LH9I2hcB3mFmJyySc0Za8EenEN2IlWRUfdYbCupGd1Y/viewform?usp=send_form">
    <button type="submit" style="font-size: 16pt">中餐廠商意見回饋</button>
</form>
<br>
<div style="color: blue;">請於上午10點前訂午餐，下午5點前訂晚餐。取消訂餐請將數量設成0，並按確定。</div>
<table width="100%">
  <tr>
    <td width="50%" valign="top">
    #{if lunchOrderMenu}
      #{UserOrderMenu lunchOrderMenu/}
    #{/if}
    </td>
    <td width="50%" valign="top">
    #{if dinnerOrderMenu}
      #{UserOrderMenu dinnerOrderMenu/}
    #{/if}
    </td>
  </tr>
</table>
