html, body {
  text-align: center;
}

body, div {
  margin: 0;
  padding: 0;
  font-size: 9pt;
}

@media print {
   body, div, td, th {font-size: 12pt; background: white;}
}

table {
  font-size: 9pt;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}

#container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  border: 1px solid #dddddd;
  text-align: left;
}

#header, #content, #footer {
  padding-top: 1px;
  padding-bottom: 1px;
}

#header {
  background-color: #296fa5;
  color: white;
  padding-left: 1em;
}

#header #signInPanel {
  font-size: 9pt;
  position: absolute;
  top: 0;
  right: 0;
}

#header a {
  color: white;
  text-decoration: none;
}

#menubar {
  background-color: #1f537b;
  color: white;
  border-top: 1px solid #1f537b;
  border-bottom: 1px solid #1f537b;
  height: 1.4em;
  width: 100%;
}

#menubar a {
  color: #dddddd;
}

#menubar a:hover {
  color: white;
}

#menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menubar li {
  float: left;
  text-align: center;
  margin: 0 4px;
}

#feedback {
  list-style-type: none;
  margin: 0;
  padding: 2px 1em;
  background-color: yellow;
}

#content {
  padding: 1em;
  background-color: #fbfbfb;
}

#footer {
  border-top: 1px solid #dddddd;
  background-color: #f4f4f4;
  color: black;
  text-align: center;
}

form fieldset {padding: 0.5em;}

form .row input {display: block;}

form .row {padding-bottom: 0.5em;}

form .fieldWithErrors input {
  border-style: solid;
  border-color: red;
}

form .formError {color: red;}

form input, form select, form textarea {
  border: 1px solid gray;	
}
