html, body {
  margin: 0;
  padding: 0;
}

@media print {
  body, div, td, th {font-size: 9pt; background: white;}
  .navbar { display: none; }
}

#feedback {
  list-style-type: none;
  margin: 0;
  padding: 2px 1em;
  background-color: yellow;
}
