#{extends 'layout.html' /}
#{set title:'登入' /}

<div class="row justify-content-center">
    <form class="mb-4" method="post" action="@{auth()}">
        <h3>請用網域帳號登入</h3>
    #{authenticityToken /}
        <div class="form-group">
            <label for="userName">&{'secure.username'}</label>
            <input type="text" name="userName" id="userName" class="form-control" value="${flash.userName}">
        </div>
        <div class="form-group">
            <label for="password">&{'secure.password'}</label>
            <input type="password" name="password" id="password" class="form-control" value="">
        </div>
        <div>
            <input type="submit" id="signin" class="btn btn-primary" value="&{'secure.signin'}">
        </div>
    </form>
</div>
