#{extends 'layout.html' /}
#{set title:'新增廠商' /}

<h2>新增廠商</h2>

<form method="post" action="@{createProvider}">
  <div class="form-group">
    <label>廠商名稱</label>
    <div><input class="form-control" type="text" name="name"></div>
  </div>
  <div class="form-group">
    <label>電話號碼</label>
    <div><input class="form-control" type="text" name="phone"></div>
  </div>
  <div class="form-group">
    <label>地址</label>
    <div><input class="form-control" type="text" name="address"></div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">新增</button>
    <a class="btn btn-secondary" href="@{index}">取消</a>
  </div>
</form>
