<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="screen" href="https://unpkg.com/bootstrap@4.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" media="screen" href="https://unpkg.com/jquery-ui@1.12.1/themes/base/all.css">
  <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}">
  #{get 'moreStyles' /}
  <title>#{get 'title' /}</title>
</head>

<body>
  <nav class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container">
      <a class="navbar-brand" href="@{UserOrder.index}">訂便當</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarToggler">
        <ul class="navbar-nav">
          #{if currentUser}
            <li class="nav-item"><a class="nav-link" href="@{UserOrder.futureMenu}">未來菜單</a></li>
            <li class="nav-item"><a class="nav-link" href="@{UserOrder.history}">訂餐紀錄</a></li>
            <li class="nav-item"><a class="nav-link" href="https://docs.google.com/forms/d/1LH9I2hcB3mFmJyySc0Za8EenEN2IlWRUfdYbCupGd1Y/viewform?usp=send_form">意見回饋</a></li>
          #{/if}
          #{if currentUser?.isAdmin()}
            <li class="nav-item"><a class="nav-link" href="@{AdminOrder.index}">代訂</a></li>
            <li class="nav-item"><a class="nav-link" href="@{Menu.index}">管理菜單</a></li>
            <li class="nav-item"><a class="nav-link" href="@{OrderHistory.everyday}">每日統計</a></li>
            <li class="nav-item"><a class="nav-link" href="@{OrderHistory.index}">每月統計</a></li>
            <li class="nav-item"><a class="nav-link" href="@{Provider.index}">廠商</a></li>
            <li class="nav-item"><a class="nav-link" href="@{Admin.index}">管理者</a></li>
          #{/if}
        </ul>
        <ul class="navbar-nav ml-auto">
        #{ifnot currentUser}
          <li class="nav-item"><a class="nav-link" href="@{Authenticate.login}">登入</a></li>
        #{/ifnot}
        #{else}
          <li class="nav-item nav-link">&{currentUser.displayName}(<a href="@{Authenticate.logout}">登出</a>)</li>
        #{/else}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    #{if flash.success}
      <div id="feedback">
      &{flash.success}
      </div>
    #{/if}
    #{if flash.error}
      <div id="feedback">
      &{flash.error}
      </div>
    #{/if}
    #{doLayout /}
  </div>

  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="https://unpkg.com/popper.js@1.16.0/dist/umd/popper.min.js" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="https://unpkg.com/bootstrap@4.4.1/dist/js/bootstrap.min.js" type="text/javascript" charset="${_response_encoding}"></script>
  <script src="https://unpkg.com/jquery-ui@1.12.1/ui/widgets/datepicker.js" type="text/javascript" charset="${_response_encoding}"></script>
  #{get 'moreScripts' /}
</body>

</html>
